DATABASE_URL=postgres://postgres:develop@localhost:5432/postgres
# or
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=develop
DATABASE_NAME=postgres

HYDRA_ISSUER_URL=http://localhost:4444/
HYDRA_ADMIN_URL=http://localhost:4445/
KRATOS_PUBLIC_URL=http://localhost:4433/
EXPECTED_AUDIENCE=account

KETO_READ_URL=http://localhost:4466
KETO_WRITE_URL=http://localhost:4467

REDIS_URL=redis://localhost:6379
# or
REDIS_HOST=localhost

WORKER_ID=0

CORS_ALLOWED_ORIGINS=*

PUBLIC_BASE_URL=http://localhost:8080