DATABASE_URL=postgres://postgres:develop@localhost:5432/postgres
# or
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=develop
DATABASE_NAME=postgres

HYDRA_ISSUER_URL=http://localhost:4444/
HYDRA_ADMIN_URL=http://localhost:4445/
KRATOS_PUBLIC_URL=http://localhost:4433/
EXPECTED_AUDIENCE=account

REDIS_URL=redis://localhost:6379
# or
REDIS_HOST=localhost